<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Example layout</title>
    </head>
    <body>

        <!-- Dynamic snippets -->
        <!-- The n:dynamic macro is essentially the same as writing the following: -->
        <!-- <section n:snippet="articles" class="snippet-container" data-dynamic-mask="{snippetId article-\d+}"> -->
        <section n:snippet="articles" n:dynamic="article-\d+">
            {foreach $items as $item}
                <article n:snippet="article-$item->id">{$item->title}</article>
            {/foreach}
        </section>

        <!-- Form errors -->
        <!-- The n:errors macro writes out validation errors for a given form field. -->
        <!-- The n:attribute variant takes into account the container tag name - UL and OL tags -->
        <!-- will have LI child elements, other tags will have P child elements. -->
        <!-- The { } variant renders an UL with LI child elements. -->
        <form>
            <ul n:formErrors class="errors"></ul>
            <table>
                <tr>
                    <td>
                        <ul n:errors="field1" class="errors"></ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        {errors field2 class => 'errors'}
                    </td>
                </tr>
            </table>
        </form>

    </body>
</html>
